# macOS system files
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
*.env
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/

# Logs
*.log

# Node.js
node_modules/
npm-debug.log*

# Other
*.swp
*.swo
.idea/
*.bak
*.tmp

# QuotAI specific
output/
.pytest_cache/